.fixed-width {
    width: 85px; 
}
.first-col .nav-item {
    height: 65px;
}

.first-col span {
    font-size: 12px;
    color: white; 
    margin: 3px;
}
.first-col .navbar-nav .nav-link {
    color: #C8102E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-title {
    font-size: small;
    color: darkblue;
}
.course-year {
    color: gray;
}

.course-session {
    font-size: smaller;
    color: gray;
}
html * {
  font-family: verdana;
}
