.fixed-width {
    width: 85px; 
}
.first-col .nav-item {
    height: 65px;
}

.first-col span {
    font-size: 12px;
    color: white; 
    margin: 3px;
}
.first-col .navbar-nav .nav-link {
    color: #C8102E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-col {
    width: 100px;
    font-size: small;
}
.second-col .nav-link {
    color: #C8102E;
    padding-top: 15px;
}
.fixed-left {
    align-items: start;
}
.nav-link .active {
    color:yellow
}
html * {
  font-family: verdana;
}